# Unsupervised Lab Session

## Learning outcomes:
- Exploratory data analysis and data preparation for model building.
- PCA for dimensionality reduction.
- K-means and Agglomerative Clustering

## Problem Statement
Based on the given marketing campigan dataset, segment the similar customers into suitable clusters. Analyze the clusters and provide your insights to help the organization promote their business.

## Context:
- Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.
- Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

## About dataset
- Source: https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis?datasetId=1546318&sortBy=voteCount

### Attribute Information:
- ID: Customer's unique identifier
- Year_Birth: Customer's birth year
- Education: Customer's education level
- Marital_Status: Customer's marital status
- Income: Customer's yearly household income
- Kidhome: Number of children in customer's household
- Teenhome: Number of teenagers in customer's household
- Dt_Customer: Date of customer's enrollment with the company
- Recency: Number of days since customer's last purchase
- Complain: 1 if the customer complained in the last 2 years, 0 otherwise
- MntWines: Amount spent on wine in last 2 years
- MntFruits: Amount spent on fruits in last 2 years
- MntMeatProducts: Amount spent on meat in last 2 years
- MntFishProducts: Amount spent on fish in last 2 years
- MntSweetProducts: Amount spent on sweets in last 2 years
- MntGoldProds: Amount spent on gold in last 2 years
- NumDealsPurchases: Number of purchases made with a discount
- AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- Response: 1 if customer accepted the offer in the last campaign, 0 otherwise
- NumWebPurchases: Number of purchases made through the company’s website
- NumCatalogPurchases: Number of purchases made using a catalogue
- NumStorePurchases: Number of purchases made directly in stores
- NumWebVisitsMonth: Number of visits to company’s website in the last month

### 1. Import required libraries

In [46]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

### 2. Load the CSV file (i.e marketing.csv) and display the first 5 rows of the dataframe. Check the shape and info of the dataset.

In [2]:
df = pd.read_csv('marketing.csv')
df.head(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,3,6,5,0,0,0,0,0,0,0

### 3. Check the percentage of missing values? If there is presence of missing values, treat them accordingly.

In [3]:
df.isnull().sum()/len(df)*100

ID                     0.000000
Year_Birth             0.000000
Education              0.000000
Marital_Status         0.000000
Income                 1.071429
Kidhome                0.000000
Teenhome               0.000000
Dt_Customer            0.000000
Recency                0.000000
MntWines               0.000000
MntFruits              0.000000
MntMeatProducts        0.000000
MntFishProducts        0.000000
MntSweetProducts       0.000000
MntGoldProds           0.000000
NumDealsPurchases      0.000000
NumWebPurchases        0.000000
NumCatalogPurchases    0.000000
NumStorePurchases      0.000000
NumWebVisitsMonth      0.000000
AcceptedCmp3           0.000000
AcceptedCmp4           0.000000
AcceptedCmp5           0.000000
AcceptedCmp1           0.000000
AcceptedCmp2           0.000000
Complain               0.000000
Response               0.000000
dtype: float64

In [4]:
mean_values=df[['Income']].mean()

In [5]:
df.update(df['Income'].fillna(value=df['Income'].mean(), inplace=True))

In [6]:
df.isnull().sum()/len(df)*100

ID                     0.0
Year_Birth             0.0
Education              0.0
Marital_Status         0.0
Income                 0.0
Kidhome                0.0
Teenhome               0.0
Dt_Customer            0.0
Recency                0.0
MntWines               0.0
MntFruits              0.0
MntMeatProducts        0.0
MntFishProducts        0.0
MntSweetProducts       0.0
MntGoldProds           0.0
NumDealsPurchases      0.0
NumWebPurchases        0.0
NumCatalogPurchases    0.0
NumStorePurchases      0.0
NumWebVisitsMonth      0.0
AcceptedCmp3           0.0
AcceptedCmp4           0.0
AcceptedCmp5           0.0
AcceptedCmp1           0.0
AcceptedCmp2           0.0
Complain               0.0
Response               0.0
dtype: float64

### 4. Check if there are any duplicate records in the dataset? If any drop them.

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response]
Index: []

[0 rows x 27 columns]

In [8]:
df.shape

(2240, 27)

### 5. Drop the columns which you think redundant for the analysis

In [9]:
df=df.drop(columns=['ID','Dt_Customer'],axis=1)
df.head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,1957,Graduation,Single,58138.0,0,0,58,635,88,546,...,10,4,7,0,0,0,0,0,0,1
1,1954,Graduation,Single,46344.0,1,1,38,11,1,6,...,1,2,5,0,0,0,0,0,0,0
2,1965,Graduation,Together,71613.0,0,0,26,426,49,127,...,2,10,4,0,0,0,0,0,0,0
3,1984,Graduation,Together,26646.0,1,0,26,11,4,20,...,0,4,6,0,0,0,0,0,0,0
4,1981,PhD,Married,58293.0,1,0,94,173,43,118,...,3,6,5,0,0,0,0,0,0,0

### 6. Check the unique categories in the column 'Marital_Status'
- i) Group categories 'Married', 'Together' as 'relationship'
- ii) Group categories 'Divorced', 'Widow', 'Alone', 'YOLO', and 'Absurd' as 'Single'.

In [10]:
df['Marital_Status'].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [11]:
df['Marital_Status'] = df['Marital_Status'].replace([ 'Married', 'Together' ], 'relationship')

In [12]:
df['Marital_Status'] = df['Marital_Status'].replace([ 'Divorced', 'Widow', 'Alone', 'YOLO', 'Absurd'],  'Single')
df['Marital_Status'].value_counts()

relationship    1444
Single           796
Name: Marital_Status, dtype: int64

### 7. Group the columns 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', and 'MntGoldProds' as 'Total_Expenses'

In [13]:
df['Total_Expenses'] = df['MntWines']+ df['MntFruits']+ df['MntMeatProducts']+ df['MntFishProducts']+ df['MntSweetProducts']+df['MntGoldProds']

In [14]:
df.head(5)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Total_Expenses
0,1957,Graduation,Single,58138.0,0,0,58,635,88,546,...,4,7,0,0,0,0,0,0,1,1617
1,1954,Graduation,Single,46344.0,1,1,38,11,1,6,...,2,5,0,0,0,0,0,0,0,27
2,1965,Graduation,relationship,71613.0,0,0,26,426,49,127,...,10,4,0,0,0,0,0,0,0,776
3,1984,Graduation,relationship,26646.0,1,0,26,11,4,20,...,4,6,0,0,0,0,0,0,0,53
4,1981,PhD,relationship,58293.0,1,0,94,173,43,118,...,6,5,0,0,0,0,0,0,0,422

### 8. Group the columns 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', and 'NumDealsPurchases' as 'Num_Total_Purchases'

In [15]:
df['Num_Total_Purchases'] = df['NumWebPurchases']+ df['NumCatalogPurchases']+ df['NumStorePurchases']+ df['NumDealsPurchases']

In [16]:
df.head(5)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Total_Expenses,Num_Total_Purchases
0,1957,Graduation,Single,58138.0,0,0,58,635,88,546,...,7,0,0,0,0,0,0,1,1617,25
1,1954,Graduation,Single,46344.0,1,1,38,11,1,6,...,5,0,0,0,0,0,0,0,27,6
2,1965,Graduation,relationship,71613.0,0,0,26,426,49,127,...,4,0,0,0,0,0,0,0,776,21
3,1984,Graduation,relationship,26646.0,1,0,26,11,4,20,...,6,0,0,0,0,0,0,0,53,8
4,1981,PhD,relationship,58293.0,1,0,94,173,43,118,...,5,0,0,0,0,0,0,0,422,19

### 9. Group the columns 'Kidhome' and 'Teenhome' as 'Kids'

In [17]:
df[ 'Kids'] = df['Kidhome'] + df['Teenhome']

In [18]:
df.head(5)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Total_Expenses,Num_Total_Purchases,Kids
0,1957,Graduation,Single,58138.0,0,0,58,635,88,546,...,0,0,0,0,0,0,1,1617,25,0
1,1954,Graduation,Single,46344.0,1,1,38,11,1,6,...,0,0,0,0,0,0,0,27,6,2
2,1965,Graduation,relationship,71613.0,0,0,26,426,49,127,...,0,0,0,0,0,0,0,776,21,0
3,1984,Graduation,relationship,26646.0,1,0,26,11,4,20,...,0,0,0,0,0,0,0,53,8,1
4,1981,PhD,relationship,58293.0,1,0,94,173,43,118,...,0,0,0,0,0,0,0,422,19,1

### 10. Group columns 'AcceptedCmp1 , 2 , 3 , 4, 5' and 'Response' as 'TotalAcceptedCmp'

In [19]:
df['TotalAcceptedCmp'] = df['AcceptedCmp1'] + df['AcceptedCmp2'] + df['AcceptedCmp3'] + df['AcceptedCmp4'] + df['AcceptedCmp5'] + df['Response']

In [20]:
df.head(5)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp
0,1957,Graduation,Single,58138.0,0,0,58,635,88,546,...,0,0,0,0,0,1,1617,25,0,1
1,1954,Graduation,Single,46344.0,1,1,38,11,1,6,...,0,0,0,0,0,0,27,6,2,0
2,1965,Graduation,relationship,71613.0,0,0,26,426,49,127,...,0,0,0,0,0,0,776,21,0,0
3,1984,Graduation,relationship,26646.0,1,0,26,11,4,20,...,0,0,0,0,0,0,53,8,1,0
4,1981,PhD,relationship,58293.0,1,0,94,173,43,118,...,0,0,0,0,0,0,422,19,1,0

### 11. Drop those columns which we have used above for obtaining new features

In [21]:
df=df.drop(['NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumDealsPurchases', 'Kidhome', 'Teenhome', 'AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'Response'], axis=1)
df.head(5)

,Year_Birth,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebVisitsMonth,Complain,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp
0,1957,Graduation,Single,58138.0,58,635,88,546,172,88,88,7,0,1617,25,0,1
1,1954,Graduation,Single,46344.0,38,11,1,6,2,1,6,5,0,27,6,2,0
2,1965,Graduation,relationship,71613.0,26,426,49,127,111,21,42,4,0,776,21,0,0
3,1984,Graduation,relationship,26646.0,26,11,4,20,10,3,5,6,0,53,8,1,0
4,1981,PhD,relationship,58293.0,94,173,43,118,46,27,15,5,0,422,19,1,0

### 12. Extract 'age' using the column 'Year_Birth' and then drop the column 'Year_birth'

In [22]:
df['age'] = 2022 - df['Year_Birth']
df['age']

0       65
1       68
2       57
3       38
4       41
        ..
2235    55
2236    76
2237    41
2238    66
2239    68
Name: age, Length: 2240, dtype: int64

In [23]:
df=df.drop(['Year_Birth'], axis=1)
df.head(5)

,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebVisitsMonth,Complain,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp,age
0,Graduation,Single,58138.0,58,635,88,546,172,88,88,7,0,1617,25,0,1,65
1,Graduation,Single,46344.0,38,11,1,6,2,1,6,5,0,27,6,2,0,68
2,Graduation,relationship,71613.0,26,426,49,127,111,21,42,4,0,776,21,0,0,57
3,Graduation,relationship,26646.0,26,11,4,20,10,3,5,6,0,53,8,1,0,38
4,PhD,relationship,58293.0,94,173,43,118,46,27,15,5,0,422,19,1,0,41

### 13. Encode the categorical variables in the dataset

In [24]:
df.select_dtypes('object').columns

Index(['Education', 'Marital_Status'], dtype='object')

In [30]:
from sklearn.preprocessing import LabelEncoder
for col in df.select_dtypes('object').columns.tolist():
    le=LabelEncoder()
    df[col]=le.fit_transform(df[col])

In [131]:
cat_column = df[col]
cat_column.head(5)

0    0
1    0
2    1
3    1
4    1
Name: Marital_Status, dtype: int32

### 14. Standardize the columns, so that values are in a particular range

In [132]:
ds = df.select_dtypes(include = ['int','float'])
scaler = StandardScaler()
scaler.fit(ds)
scaled_ds = pd.DataFrame(scaler.transform(ds),columns = ds.columns)
print('All features are now scaled')

All features are now scaled

In [133]:
ds

,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebVisitsMonth,Complain,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp,age
0,2,0,58138.0,58,635,88,546,172,88,88,7,0,1617,25,0,1,65
1,2,0,46344.0,38,11,1,6,2,1,6,5,0,27,6,2,0,68
2,2,1,71613.0,26,426,49,127,111,21,42,4,0,776,21,0,0,57
3,2,1,26646.0,26,11,4,20,10,3,5,6,0,53,8,1,0,38
4,4,1,58293.0,94,173,43,118,46,27,15,5,0,422,19,1,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2,1,61223.0,46,709,43,182,42,118,247,5,0,1341,18,1,0,55
2236,4,1,64014.0,56,406,0,30,0,0,8,7,0,444,22,3,1,76
2237,2,0,56981.0,91,908,48,217,32,12,24,6,0,1241,19,0,1,41
2238,3,1,69245.0,8,428,30,214,80,30,61,3,0,843,23,1,0,66
2239,4,1,52869.0,40,84,3,61,2,1,21,7,0,172,11,2,1,68

In [134]:
scaled_ds

,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebVisitsMonth,Complain,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp,age
0,-0.350141,-1.346874,0.235327,0.307039,0.983781,1.551577,1.679702,2.462147,1.476500,0.843207,0.693904,-0.097282,1.679417,1.320826,-1.264505,0.621248,0.985345
1,-0.350141,-1.346874,-0.235826,-0.383664,-0.870479,-0.636301,-0.713225,-0.650449,-0.631503,-0.729006,-0.130463,-0.097282,-0.961275,-1.154596,1.396361,-0.501912,1.235733
2,-0.350141,0.742460,0.773633,-0.798086,0.362723,0.570804,-0.177032,1.345274,-0.146905,-0.038766,-0.542647,-0.097282,0.282673,0.799685,-1.264505,-0.501912,0.317643
3,-0.350141,0.742460,-1.022732,-0.798086,-0.870479,-0.560857,-0.651187,-0.503974,-0.583043,-0.748179,0.281720,-0.097282,-0.918094,-0.894025,0.065928,-0.501912,-1.268149
4,1.428354,0.742460,0.241519,1.550305,-0.389085,0.419916,-0.216914,0.155164,-0.001525,-0.556446,-0.130463,-0.097282,-0.305254,0.539114,0.065928,-0.501912,-1.017761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,-0.350141,0.742460,0.358568,-0.107383,1.203678,0.419916,0.066692,0.081926,2.203398,3.891766,-0.130463,-0.097282,1.221032,0.408829,0.065928,-0.501912,0.150717
2236,1.428354,0.742460,0.470064,0.237969,0.303291,-0.661449,-0.606873,-0.687068,-0.655733,-0.690659,0.693904,-0.097282,-0.268717,0.929970,2.726794,0.621248,1.903435
2237,-0.350141,-1.346874,0.189106,1.446700,1.795020,0.545656,0.221789,-0.101168,-0.364974,-0.383886,0.281720,-0.097282,1.054951,0.539114,-1.264505,0.621248,-1.017761
2238,0.539106,0.742460,0.679035,-1.419719,0.368666,0.092992,0.208495,0.777683,0.071165,0.325527,-0.954831,-0.097282,0.393948,1.060255,0.065928,-0.501912,1.068807
2239,1.428354,0.742460,0.024838,-0.314594,-0.653555,-0.586005,-0.469501,-0.650449,-0.631503,-0.441406,0.693904,-0.097282,-0.720458,-0.503169,1.396361,0.621248,1.235733

### 15. Apply PCA on the above dataset and determine the number of PCA components to be used so that 90-95% of the variance in data is explained by the same.

In [159]:
scl_cat = pd.concat([scaled_ds,cat_column],axis=1)
scl_cat.head(5)

,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebVisitsMonth,Complain,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp,age,Marital_Status
0,-0.350141,-1.346874,0.235327,0.307039,0.983781,1.551577,1.679702,2.462147,1.476500,0.843207,0.693904,-0.097282,1.679417,1.320826,-1.264505,0.621248,0.985345,0
1,-0.350141,-1.346874,-0.235826,-0.383664,-0.870479,-0.636301,-0.713225,-0.650449,-0.631503,-0.729006,-0.130463,-0.097282,-0.961275,-1.154596,1.396361,-0.501912,1.235733,0
2,-0.350141,0.742460,0.773633,-0.798086,0.362723,0.570804,-0.177032,1.345274,-0.146905,-0.038766,-0.542647,-0.097282,0.282673,0.799685,-1.264505,-0.501912,0.317643,1
3,-0.350141,0.742460,-1.022732,-0.798086,-0.870479,-0.560857,-0.651187,-0.503974,-0.583043,-0.748179,0.281720,-0.097282,-0.918094,-0.894025,0.065928,-0.501912,-1.268149,1
4,1.428354,0.742460,0.241519,1.550305,-0.389085,0.419916,-0.216914,0.155164,-0.001525,-0.556446,-0.130463,-0.097282,-0.305254,0.539114,0.065928,-0.501912,-1.017761,1

In [161]:
#Step1
cov_matrix = np.cov(scl_cat.T)
cov_matrix

array([[ 1.00044663, -0.01375403,  0.1200273 , -0.01173369,  0.19766393,
        -0.08044792,  0.03364018, -0.11227271, -0.10526384, -0.09553158,
        -0.04029882, -0.05056252,  0.09209518,  0.09405439,  0.05321304,
         0.06327892,  0.17146685, -0.00658297],
       [-0.01375403,  1.00044663,  0.00463847, -0.00450972, -0.00602607,
        -0.02446255, -0.01962866, -0.01713239, -0.01939723, -0.02919185,
         0.00344176, -0.00520466, -0.01775232,  0.00671037,  0.03917598,
        -0.06004206, -0.0042384 ,  0.47883517],
       [ 0.1200273 ,  0.00463847,  1.00044663, -0.00394826,  0.57704682,
         0.42893852,  0.57806022,  0.43769193,  0.4363564 ,  0.32212133,
        -0.55006966, -0.02723528,  0.66500337,  0.5636214 , -0.29084155,
         0.28717443,  0.16101378,  0.00222007],
       [-0.01173369, -0.00450972, -0.00394826,  1.00044663,  0.01607108,
        -0.00430756,  0.02306635,  0.00107945,  0.02267973,  0.01670073,
        -0.02145427,  0.01323699,  0.02044173,  0.00574294,  0.01806145,
        -0.08900203,  0.01987996, -0.00215845],
       [ 0.19766393, -0.00602607,  0.57704682,  0.01607108,  1.00044663,
         0.3898107 ,  0.56291782,  0.3999312 ,  0.38675381,  0.38768876,
        -0.32079601, -0.03902456,  0.89223683,  0.71310781, -0.35206629,
         0.48942971,  0.15784299, -0.0028842 ],
       [-0.08044792, -0.02446255,  0.42893852, -0.00430756,  0.3898107 ,
         1.00044663,  0.54334713,  0.59506917,  0.56741725,  0.39317054,
        -0.41856984, -0.0051686 ,  0.61450343,  0.45566436, -0.39502951,
         0.17284575,  0.01792524, -0.0117083 ],
       [ 0.03364018, -0.01962866,  0.57806022,  0.02306635,  0.56291782,
         0.54334713,  1.00044663,  0.56865599,  0.52408018,  0.35076512,
        -0.53971077, -0.02349354,  0.84334104,  0.5544766 , -0.50243181,
         0.33031919,  0.03088619, -0.00939469],
       [-0.11227271, -0.01713239,  0.43769193,  0.00107945,  0.3999312 ,
         0.59506917,  0.56865599,  1.00044663,  0.58012907,  0.42306367,
        -0.44620185, -0.0209622 ,  0.64310526,  0.46966364, -0.42569332,
         0.1800833 ,  0.04164397, -0.00819993],
       [-0.10526384, -0.01939723,  0.4363564 ,  0.02267973,  0.38675381,
         0.56741725,  0.52408018,  0.58012907,  1.00044663,  0.36988943,
        -0.42348319, -0.022495  ,  0.60328571,  0.47308706, -0.38330824,
         0.19957803,  0.01814071, -0.00928393],
       [-0.09553158, -0.02919185,  0.32212133,  0.01670073,  0.38768876,
         0.39317054,  0.35076512,  0.42306367,  0.36988943,  1.00044663,
        -0.25083072, -0.03087501,  0.524496  ,  0.49353456, -0.26621429,
         0.20362389,  0.06184579, -0.01397184],
       [-0.04029882,  0.00344176, -0.55006966, -0.02145427, -0.32079601,
        -0.41856984, -0.53971077, -0.44620185, -0.42348319, -0.25083072,
         1.00044663,  0.01977734, -0.50044131, -0.31242795,  0.41860616,
        -0.12836726, -0.12119336,  0.0016473 ],
       [-0.05056252, -0.00520466, -0.02723528,  0.01323699, -0.03902456,
        -0.0051686 , -0.02349354, -0.0209622 , -0.022495  , -0.03087501,
         0.01977734,  1.00044663, -0.03707503, -0.02059185,  0.03108014,
        -0.01761676,  0.030141  , -0.00249106],
       [ 0.09209518, -0.01775232,  0.66500337,  0.02044173,  0.89223683,
         0.61450343,  0.84334104,  0.64310526,  0.60328571,  0.524496  ,
        -0.50044131, -0.03707503,  1.00044663,  0.75423984, -0.49911047,
         0.4564099 ,  0.11135611, -0.00849664],
       [ 0.09405439,  0.00671037,  0.5636214 ,  0.00574294,  0.71310781,
         0.45566436,  0.5544766 ,  0.46966364,  0.47308706,  0.49353456,
        -0.31242795, -0.02059185,  0.75423984,  1.00044663, -0.24589955,
         0.25816052,  0.16837908,  0.00321173],
       [ 0.05321304,  0.03917598, -0.29084155,  0.01806145, -0.35206629,
        -0.39502951, -0.50243181, -0.42569332, -0.38330824, -0.26621429,
         0.41860616,  0.03108014, -0.49911047, -0.24589955,  1.00044663,
        -0.25387372,  0.09023955,  0.01875046],
       [ 0.06327892, -0.06004206,  0.28717443, -0.08900203,  0.48942971,
         0.17284575,  0.33031919,  0.1800833 ,  0.19957803,  0.20362389,
        -0.12836726, -0.01761676,  0.4564099 ,  0.25816052, -0.25387372,
         1.00044663, -0.00830618, -0.02873741],
       [ 0.17146685, -0.0042384 ,  0.16101378,  0.01987996,  0.15784299,
         0.01792524,  0.03088619,  0.04164397,  0.01814071,  0.06184579,
        -0.12119336,  0.030141  ,  0.11135611,  0.16837908,  0.09023955,
        -0.00830618,  1.00044663, -0.00202859],
       [-0.00658297,  0.47883517,  0.00222007, -0.00215845, -0.0028842 ,
        -0.0117083 , -0.00939469, -0.00819993, -0.00928393, -0.01397184,
         0.0016473 , -0.00249106, -0.00849664,  0.00321173,  0.01875046,
        -0.02873741, -0.00202859,  0.22918076]])

In [162]:
#Step2
eig_vals, eig_vectors = np.linalg.eig(cov_matrix)
print('eigein vals:', '\n',  eig_vals)
print('\n')
print('eigein vectors:', '\n',  eig_vectors)

eigein vals:
 [ 6.12818693e+00  1.49732373e+00  1.24891349e+00  1.13363356e+00
  1.01597996e+00  9.86751212e-01  9.55748515e-01  7.35202391e-01
  2.41174862e-01  6.43941798e-01  6.09068035e-01  5.32233474e-01
  3.16772967e-01  4.35920775e-01  4.01137037e-01  3.54784688e-01
 -1.48979816e-17 -9.31752160e-16]


eigein vectors:
 [[-1.63256415e-02 -5.82443957e-01  2.30572180e-02 -2.36315631e-02
  -3.06047730e-01  1.56096650e-01 -1.91267843e-01 -5.11201736e-01
  -4.81405944e-02  3.60141892e-01 -1.31194169e-01 -2.91410344e-01
   5.71546495e-02 -3.82353362e-02  6.68800781e-02 -1.03589069e-02
  -9.72661375e-18 -4.07564703e-17]
 [ 1.16754248e-02 -1.43602708e-02 -8.50680445e-01  2.70683467e-01
   4.05234427e-02 -3.33193884e-03 -6.83038951e-02  4.77256220e-02
  -5.80994479e-03  6.57906414e-02 -3.13575234e-02 -4.73665219e-02
   1.08503637e-02  3.92052704e-03 -3.33799579e-03  4.32782955e-03
   7.61490858e-03 -4.28746565e-01]
 [-2.97245921e-01 -1.67558529e-01 -6.76085300e-02 -8.42318550e-02
  -9.63284984e-02  1.29219687e-01 -3.14897220e-02  1.09559946e-02
   2.81397295e-02 -4.40700380e-01  3.23519333e-01 -8.81989440e-02
   4.69143717e-01 -8.36875314e-03 -1.33701673e-01 -5.47101505e-01
   3.52933654e-16  2.77959043e-16]
 [-3.28062224e-03  3.00123070e-02 -9.11695063e-02 -4.74371403e-01
  -6.19662277e-02 -6.30267235e-01 -5.78691387e-01  1.16767338e-01
  -4.81841661e-02  1.08117221e-02 -5.44265761e-02 -8.41468285e-02
   1.88409476e-03  3.00027366e-02 -9.39524754e-03 -5.17680108e-02
   5.47715447e-17  2.49737662e-17]
 [-3.15019105e-01 -3.27965951e-01  3.38488402e-02  1.49437303e-01
   1.34743037e-01 -1.55085890e-01 -7.08185837e-02 -7.55467280e-03
   5.47662395e-01 -4.47404821e-02 -8.33463494e-03  2.80715209e-01
  -3.45870172e-01 -2.32321683e-02 -6.17117267e-02 -7.91463464e-02
  -4.59710689e-01  5.38711765e-02]
 [-2.86023322e-01  2.42290768e-01 -2.94063831e-02 -9.84629090e-02
  -9.70205413e-03  5.36953131e-02  1.05788747e-01 -1.86074676e-01
  -1.18274086e-02  3.30488139e-02 -3.55703689e-01 -1.81971123e-01
  -7.36832051e-02  5.32754016e-01 -5.88285272e-01 -3.12376722e-02
  -5.43208980e-02  6.36559200e-03]
 [-3.34316041e-01  3.54254575e-02  4.43431506e-03  3.12363846e-02
  -9.87263623e-02  7.75779580e-02 -1.67260134e-01 -5.55212419e-03
  -1.05315103e-01 -8.80352677e-02 -5.63619335e-03  2.15422006e-01
   4.89080317e-01  1.90840199e-01  1.93816680e-01  6.07193959e-01
  -3.08272648e-01  3.61249164e-02]
 [-2.95875427e-01  2.53577774e-01 -4.13139573e-02 -1.03394911e-01
  -1.74951871e-02  3.68923803e-02  1.23490747e-01 -6.36479541e-02
  -9.55170526e-03  8.00915655e-02 -2.49297413e-01 -7.25604896e-02
  -1.07727393e-01  2.23243179e-01  7.33640324e-01 -3.68281418e-01
  -7.46099830e-02  8.74316752e-03]
 [-2.84113726e-01  2.39730002e-01 -3.51864097e-02 -9.46976748e-02
  -1.47122623e-02  5.82751512e-03  8.73172305e-02 -9.29265972e-02
   1.06717061e-01 -1.26708967e-01 -3.92673156e-01 -2.41819848e-01
   7.73608782e-02 -7.52183059e-01 -8.82270604e-02  1.10691945e-01
  -5.63791842e-02  6.60679217e-03]
 [-2.33272228e-01  8.55183460e-02  6.78413405e-03 -3.81915147e-02
   2.69380042e-01 -3.09886084e-01  3.28896281e-01 -5.71489974e-02
   1.02520898e-01  4.64562982e-01  5.07793500e-01 -3.60646699e-01
   1.65409977e-01 -1.77060246e-02 -7.65026864e-03  9.83481397e-02
  -7.12481136e-02  8.34920700e-03]
 [ 2.52004800e-01 -8.95057031e-02  8.31640815e-02  2.09719796e-01
   3.45736988e-01 -3.49545686e-01  1.40049201e-01 -1.82336746e-01
   2.92783332e-02  1.12956487e-01 -4.14802492e-01  2.59069353e-01
   5.26869516e-01  1.61856559e-02 -1.61798477e-02 -2.28248235e-01
   2.75299260e-16  7.94292818e-17]
 [ 1.65266385e-02  4.41186621e-02 -1.41559880e-02 -2.38231406e-01
   7.36916100e-01  4.55154924e-01 -4.04342810e-01 -1.41458595e-01
   1.34232490e-02  6.08062967e-02  3.99448903e-02 -2.50377941e-02
   8.51381161e-04 -2.61136760e-02  1.56103733e-02 -9.18836938e-03
  -7.48589432e-17  8.44191772e-17]
 [-3.86769992e-01 -1.07180759e-01  1.30663345e-02  6.95470336e-02
   5.84043970e-02 -7.71529827e-02 -4.96050455e-02 -3.56850694e-02
   2.81165739e-01 -1.69966260e-02 -3.58048899e-02  1.71214956e-01
  -5.01322863e-03  6.08826180e-02  5.91352176e-02  1.63970768e-01
   8.22526975e-01 -9.63877867e-02]
 [-3.08034628e-01 -1.96098350e-01 -5.86625722e-02 -4.25813203e-02
   1.95246914e-01 -1.88468696e-01  1.74102825e-01 -2.34468965e-01
  -7.07798669e-01 -1.11656847e-01  7.45418578e-02  2.97683867e-01
  -2.71020791e-01 -1.35086581e-01 -5.23982039e-02 -2.02913039e-02
   4.06830016e-16  8.07006964e-17]
 [ 2.32096907e-01 -2.42013304e-01 -9.74711406e-02 -1.77526392e-01
   2.04981003e-01 -1.66459452e-01  2.76543864e-01 -2.19623126e-01
   1.35515519e-01 -5.87314460e-01 -4.49109256e-02 -3.57941076e-01
  -7.62985063e-02  1.85463187e-01  1.87014990e-01  2.88917562e-01
  -7.17777826e-17  1.83011992e-17]
 [-1.76628214e-01 -2.14457733e-01  2.37364650e-01  4.87445167e-01
   2.03713709e-01 -6.36514381e-02 -1.97695500e-01  4.60629183e-01
  -2.48557311e-01 -6.76344628e-02 -1.87237178e-01 -4.73944493e-01
  -3.70228241e-02  5.91507845e-02  3.32406688e-02 -6.42677167e-03
   1.02051961e-16  1.66378704e-18]
 [-4.88387202e-02 -4.12867319e-01 -1.24746569e-01 -4.96629064e-01
   4.98426822e-02  1.69489365e-01  3.39320273e-01  5.49121675e-01
  -1.24961270e-02  2.06847795e-01 -2.35712976e-01  8.31528517e-02
   9.49852617e-02  6.13602516e-03 -3.46109363e-02  3.73428430e-02
  -1.72094443e-17 -1.67965794e-17]
 [ 5.58810815e-03 -6.87313289e-03 -4.07153865e-01  1.29554900e-01
   1.93953868e-02 -1.59473723e-03 -3.26917058e-02  2.28425040e-02
  -2.78076391e-03  3.14888089e-02 -1.50083817e-02 -2.26706310e-02
   5.19321625e-03  1.87644814e-03 -1.59763622e-03  2.07139183e-03
  -1.59100880e-02  8.95794810e-01]]

In [163]:
#Step3
total = sum(eig_vals)
var_exp = [(i/total)*100 for i in sorted(eig_vals,reverse=True)]
print('Explained Variance: ',var_exp)

Explained Variance:  [35.552981856378544, 8.686798232304387, 7.245633875322046, 6.576831613641727, 5.894258361623423, 5.7246863260751155, 5.544822633781514, 4.265313305483699, 3.735860429606952, 3.53353855632949, 3.0877790211662712, 2.5290160991343296, 2.3272165094439345, 2.0583010463145137, 1.837774155870876, 1.3991879775231753, -8.643138251948489e-17, -5.4056065890557e-15]

In [164]:
cum_var_exp = np.cumsum(var_exp)
print('Cumulative Explained Variance: ',cum_var_exp)

Cumulative Explained Variance:  [ 35.55298186  44.23978009  51.48541396  58.06224558  63.95650394
  69.68119027  75.2260129   79.4913262   83.22718663  86.76072519
  89.84850421  92.37752031  94.70473682  96.76303787  98.60081202
 100.         100.         100.        ]

### 16. Apply K-means clustering and segment the data (Use PCA transformed data for clustering)

In [173]:
from sklearn.decomposition import PCA
pca = PCA(n_components=17)
pca_df = pd.DataFrame(pca.fit_transform(scaled_ds),columns=['Education','Marital_Status','Income','Recency','MntWines','MntFruits','MntMeatProducts','MntFishProducts','MntSweetProducts','MntGoldProds','NumWebVisitsMonth','Complain','Total_Expenses','Num_Total_Purchases','Kids','TotalAcceptedCmp','age'])
pca_df.head()

,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebVisitsMonth,Complain,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp,age
0,4.074743,-0.607934,-0.035804,1.215454,-0.644428,-0.613144,-0.982842,0.060178,-0.668717,-1.719346,-0.759925,-0.307587,-0.737513,0.157226,0.593098,0.198938,3.040210e-15
1,-2.344016,0.433436,0.617931,0.529645,-1.056939,0.739089,-1.269939,0.768727,0.804036,0.084553,0.264024,-0.218935,-0.097813,-0.247508,0.027181,-0.349270,-1.134369e-16
2,1.493365,-0.500986,0.336916,-0.779155,0.622571,0.804818,-0.379209,0.116154,-0.419666,0.137575,-0.823121,-0.301037,-0.202851,1.238890,-0.423785,0.304726,1.057322e-15
3,-2.328063,-0.999483,-0.778823,-0.818950,0.573144,0.455595,0.313627,-0.350331,-0.035582,0.141376,-0.133102,0.014763,-0.088309,-0.126458,-0.292903,-0.016450,1.111103e-16
4,-0.138555,0.171624,0.852354,-0.859629,-0.416961,-0.697321,1.477194,-1.414433,-0.001158,-0.258610,0.454733,-0.116332,0.116469,0.494932,-0.199333,0.722288,3.286482e-15

### 17. Apply Agglomerative clustering and segment the data (Use Original data for clustering), and perform cluster analysis by doing bivariate analysis between the cluster label and different features and write your observations.

### Visualization and Interpretation of results

-----
## Happy Learning
-----